.static-box_date87234 {
  display: inline-block;
  width: 285px;
  height: 80px;
  background: rgba(48, 65, 86, 0.2);
  position: absolute;
  z-index: 99;
}
.static-box_date87234 img {
  width: 100%;
  height: 100%;
}

.static-box_date87234.left-top {
  top: 0;
  left: 0;
}
.static-box_date87234.left-center {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.static-box_date87234.left-bottom {
  bottom: 0;
  left: 0;
}

.static-box_date87234.top-center {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.static-box_date87234.bottom-center {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.static-box_date87234.center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.static-box_date87234.right-top {
  top: 0;
  right: 0;
}
.static-box_date87234.right-center {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.static-box_date87234.right-bottom {
  bottom: 0;
  right: 0;
}
